*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;

}



body{

    background:#020817;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

}



.container{

    width:950px;

    background:#061426;

    padding:45px;

    border:1px solid #244d7c;

}




.cabecalho{

    text-align:center;

    margin-bottom:30px;

}


.icone{

    font-size:35px;

}



.cabecalho h1{

    margin:10px 0;

    font-size:24px;

}



.cabecalho p{

    color:#aaa;

}






.senha{

    background:#111f38;

    height:70px;

    padding:15px;

    border-bottom:2px solid #146cff;

    margin-bottom:35px;

}



.senha small{

    color:#aaa;

}



.senha h2{

    letter-spacing:3px;

    margin-top:5px;

}





.titulo{

    margin-bottom:30px;

    font-size:22px;

}





.conteudo{

    display:flex;

    gap:60px;

}





.caracteres{

    border:3px solid #ff3150;

    padding:20px;

    width:250px;

}





h4{

    margin-bottom:20px;

    font-weight:normal;

}




.contador{

    display:flex;

}



.contador button,
.contador span{


    width:45px;

    height:45px;


    display:flex;

    justify-content:center;

    align-items:center;


    background:#071b36;

    color:white;

    border:1px solid #2563a5;


    font-size:20px;

}




.opcoes label{

    display:block;

    margin-bottom:15px;

}



input{

    width:18px;

    height:18px;

    accent-color:#147cff;

}





.barra{

    width:140px;

    height:25px;

    background:#1c293d;

}



.nivel{

    height:100%;

    width:75%;

    background:#ff3150;

}




.palavras{

    margin-top:10px;

    width:240px;

    display:flex;

    justify-content:space-between;

    color:#ccc;

}
